{
  "description": "PhenixID Server boot configuration",
  "defaults": {
    "default_modules": [
      {
        "name": "com.phenixidentity~phenix-pipes",
        "scope": "global",
        "singleton": "true",
        "config": {
          "http_enabled": "{{ pipes_http_enabled }}",
          "http_configuration_ref": "{{ pipes_http_configuration_ref }}"
        }
      },
      {
        "name": "com.phenixidentity~phenix-session-manager",
        "scope": "global",
        "singleton": "true",
        "config": {
          "cluster_config": "config/sessions.xml"
        }
      },
      {
        "name": "com.phenixidentity~phenix-crypto",
        "scope": "global",
        "singleton": "true",
        "config": {}
      },
      {
        "name": "com.phenixidentity~phenix-ca",
        "scope": "global",
        "singleton": "true",
        "config": {
          "enableHttp": "false"
        }
      }
    ]
  },
  "allowonlinelicensecheck": "true",
  "licensePassword": "{{ pas_license_password }}",
  "deploy": [
    {
      "name": "com.phenixidentity~phenix-store-json",
      "synchronous": "true",
      "address": "com.phenixidentity.configuration",
      "config": {
        "store.file": "./config/phenix-store.json",
        "persistsessions": "false",
        "encryption.key": "{{ pas_enc_key }}",
        "enabled": "true",
        "persistent": "true",
        "api_enabled": "true",
        "api_use_ssl": "false",
        "api_host": "{{ pas_config_api_host }}",
        "api_port": "{{ pas_config_api_port }}"
      }
    }
  ]
}
