{
  "description": "PhenixID Server boot configuration",
  "defaults": {
    "default_modules": [
      {
        "name": "com.phenixidentity~phenix-pipes",
        "scope": "global",
        "singleton": "true",
        "config": {
          "http_enabled": "{{ pas_pipes_http_enabled | string | lower }}",
          "http_configuration_ref": "{{ pas_pipes_http_configuration_ref }}",
          "port": "{{ pas_pipes_http_port | string }}"
        }
      },
      {
        "name": "com.phenixidentity~phenix-session-manager",
        "scope": "global",
        "singleton": "true",
        "config": {
          "cluster_config": "config/sessions.xml"
        }
      },
      {
        "name": "com.phenixidentity~phenix-crypto",
        "scope": "global",
        "singleton": "true",
        "config": {}
      },
      {
        "name": "com.phenixidentity~phenix-ca",
        "scope": "global",
        "singleton": "true",
        "config": {
          "enableHttp": "{{ pas_ca_http_enabled | string | lower }}",
          "http_configuration_ref": "{{ pas_ca_http_configuration_ref }}",
          "port": "{{ pas_ca_http_port | string }}"
        }
      }
    ]
  },
  "allowonlinelicensecheck": "true",
  "licensePassword": "{{ pas_license_password }}",
  "deploy": [
    {
      "name": "com.phenixidentity~phenix-store-json",
      "synchronous": "true",
      "address": "com.phenixidentity.configuration",
      "config": {
        "store.file": "./config/phenix-store.json",
        "persistsessions": "false",
        "encryption.key": "{{ pas_enc_key }}",
        "enabled": "true",
        "create_default": "false",
        "persistent": "true",
        "api_enabled": "true",
        "api_use_ssl": "false",
        "api_host": "{{ pas_config_api_host }}",
        "api_port": "{{ pas_config_api_port }}"
      }
    },
    {
      "name": "com.phenixidentity~auth-http",
      "enabled": "true",
      "config": {
        "root_uri": "{{ pas_http_root_uri }}",
        "allowedLogoutTarget": "{{ pas_http_allowed_logout_target }}",
        "port": "{{ pas_default_http_port | string }}",
        "ssl": "{{ pas_http_use_ssl | string | lower}}"
      }
    }
  ]
}
