adminpassword=
adminpassword2=
mplEncryptionkey={{ db_encryption_key }}
mplClientPassword={{ db_client_password }}
adminuser=phenixid
httpPort$Long=8443
isCluster$Boolean=false
isVirtual$Boolean=true
licFile=
sys.adminRights$Boolean=true
sys.installationDir={{ pas_home }}
sys.languageId=en
