adminpassword={{ admin_password }}
adminpassword2={{ admin_password }}
mplEncryptionkey={{ db_encryption_key }}
mplClientPassword={{ db_client_password }}
adminuser={{ adminuser | default('phenixid') }}
httpPort$Long={{ http_port | default(8443) }}
isCluster$Boolean=false
isVirtual$Boolean={{ is_virtual | default(true) }}
licFile=
sys.adminRights$Boolean=true
sys.installationDir={{ pas_home }}
sys.languageId=en
