[
  {
    "id": "{{ pas_idp_idp_id }}",
    "alias": "{{ pas_idp_idp_alias }}",
    "name": "SAML IDP",
    "keystore": "{{ pas_idp_keystore_id }}",
    "entityID": "{{ pas_idp_idp_id }}",
    "postSSOURL": "{{ pas_idp_sso_url }}",
    "requireSigned": "{{ pas_idp_require_signed | bool | lower }}"
  }
]