[
  {
    "id": "3bb9c857-b5f6-4102-8619-91b59cddc527",
    "alias": "",
    "name": "SAML IDP",
    "keystore": "c8e4f75a-65c6-462e-afdf-134ce8a45883",
    "entityID": "{{ idp_id }}",
    "postSSOURL": "{{ idp_sso_url }}",
    "requireSigned": "false"
  }
]