[
  {
    "id": "customsignca",
    "name": "My CA",
    "alias": "customsignca",
    "config": {
      "ca_keystore_ref": "c8e4f75a-65c6-462e-afdf-134ce8a45883",
      "ca_profiles": [
      ]
    }
  }
]