[
  {
    "id": "{{ pas_ca_ca_id }}",
    "name": "My CA",
    "alias": "{{ pas_ca_ca_id }}",
    "config": {
      "ca_keystore_ref": "{{ pas_ca_keystore_id }}",
      "ca_profiles": {{ lookup('template', 'pas_ca_profiles.json.j2') }}
    }
  }
]