[
  {
    "id": "9942f37c-fb6f-4afd-b35e-e53d672d3d3b",
    "name": "My CA",
    "alias": "ca",
    "config": {
      "ca_keystore_ref": "c8e4f75a-65c6-462e-afdf-134ce8a45883",
      "ca_profiles": {{ lookup('template', 'pas_ca_profiles.json.j2') }}
    }
  }
]