[
  {
    "password": "{{ pas_ca_keystore_password }}",
    "certificateAlias": "0",
    "privateKeyPassword": "{{ pas_ca_keystore_password }}",
    "resource": "{{ pas_ca_keystore_resource_id }}",
    "type": "pkcs12",
    "id": "{{ pas_ca_keystore_id }}"
  }
]