[
  {
    "id": "SignProfile",
    "name": "SignProfile",
    "alias": "default",
    "description": "Profile for client certificates",
    "pipe_ref": "{{ pas_ca_issuer_pipe_id }}",
    "issue_pipe_ref": "{{ pas_ca_issuer_pipe_id }}",
    "revoke_pipe_ref": "{{ pas_ca_revoke_pipe_id }}",
    "rules": {
      "subject": {
        "regex": "^CN=.*",
        "required": "true"
      },
      "key": {
        "size": "2048",
        "algorithm": "RSA",
        "values": {
          "size": "2048",
          "algorithm": "RSA"
        }
      },
      "key_usage": {},
      "not_before": {
        "value": "now"
      },
      "not_after": {
        "value": "duration:P365D"
      },
      "extensions": {},
      "signature_algorithm": {
        "value": "SHA256WithRSA"
      }
    }
  }
]