[
  {
    "id": "550f5aa0-7d6f-4c8f-a4f1-6664c391f572",
    "content_type": "application/x-pkcs12",
    "content_encoding": "base64",
    "content": "{{ lookup('file', pas_ca_keystore) | b64encode }}",
    "created": "2019-09-04T08:04:23.519Z"
  }
]