[
  {
    "id": "{{ pas_ca_keystore_resource_id }}",
    "content_type": "application/x-pkcs12",
    "content_encoding": "base64",
    "content": "{{ lookup('file', pas_ca_keystore) | b64encode }}",
    "created": "2019-09-04T08:04:23.519Z"
  }
]