[
  {
    "id": "22c6b32c-4624-48dc-b221-bba600ce72ed",
    "alias": "{{ pas_fedsign_authenticator_alias }}",
    "name": "PipeAuthenticator",
    "configuration": {
      "pipeID": "pipe_pdf_sign_auth_00",
      "successURL": "/pdf_sign"
    }
  }
]