[
  {
    "password": "{{ pas_keystore_password }}",
    "certificateAlias": "{{ pas_keystore_alias }}",
    "privateKeyPassword": "{{ pas_keystore_password }}",
    "resource": "{{ pas_keystore_resource_id }}",
    "type": "{{ pas_keystore_type }}",
    "id": "{{ pas_keystore_id }}"
  }
]