[
  {
    "name": "HTTP Server",
    "port": "8080",
    "ssl": "false",
    "id": "5efdd8a7-f12b-4c93-9857-0b74bf98e888"
  },
  {
    "name": "HTTP Server",
    "port": "8444",
    "ssl": "false",
    "id": "httpPrivate"
  }
]