[
  {
    "name": "com.phenixidentity~auth-http",
    "enabled": "true",
    "id": "d0e438ab-f08b-4cf8-9096-9898e32c41d0",
    "config": {
      "root_uri": "/config",
      "allowedLogoutTarget": "{{ pas_federated_signing_allowed_logout_target }}",
      "http_configuration_ref" : "{{ pas_federated_signing_public_http }}"
    }
  },
  {
    "name": "com.phenixidentity~auth-http",
    "enabled": "true",
    "id": "83681020-3532-4247-9fab-b33a9751aa43",
    "config": {
      "root_uri": "/config",
      "http_configuration_ref" : "{{ pas_federated_signing_private_http }}"
    }
  },
  {
    "id": "pdf_sign_prism_00",
    "name": "com.phenixidentity~phenix-prism",
    "enabled": "true",
    "config": {
      "base_url": "/pdf_sign",
      "auth_redirect_url": "{{ pas_federated_signing_authenticator_url }}",
      "module_refs": "pdf_sign_prism_01",
      "http_configuration_ref": "{{ pas_federated_signing_public_http }}"
    }
  },
  {
    "id": "pdf_sign_prism_01",
    "name": "com.phenixidentity~phenix-prism-fedsigning",
    "enabled": "false",
    "prism_enabled": "true",
    "config": {
      "display_name": "PhenixID Signing Service",
      "base_uri": "sign",
      "sign_auth_redirect_url": "{{ sp_acs_url }}",
      "sign_pipe": "pdf_sign_sign_pipe_01",
      "http_configuration_ref" : "{{ pas_federated_signing_public_http }}"
    }
  },
  {
    "id": "files_01",
    "name": "com.phenixidentity~phenix-files",
    "enabled": "true",
    "config": {
      "read_only": "false",
      "name": "integration_dev",
      "auth_method": "pipe",
      "auth_pipe": "files_auth_01",
      "store_impl": "com.phenixidentity.files.internal.SessionFilesStore",
      "http_configuration_ref" : "{{ pas_federated_signing_private_http }}"
    }
  }
]
