{
  "publicUrl": "{{ digo_service_url }}",
  "apiHost": "{{ digo_public_interface }}",
  "primaryServerPort": {{ digo_public_port }},
  "automationApiEnabled": {{ digo_automation_api_enabled | bool | lower }},
  "automationApiHost": "{{ digo_automation_api_interface }}",
  "apiPort": {{ digo_automation_api_port }},
  "logoutUrl": "{{ digo_logout_url }}",
  "logNetworkActivity": {{ digo_log_network_activity | bool | lower }},
  "sessionTimeout": {{ digo_http_session_timeout }},
  "database": {
    "url": "{{ digo_db_url }}",
    "user": "{{ digo_db_user }}",
    "password": "{{ digo_db_password }}",
    "max_pool_size": {{ digo_db_max_pool_size }},
    "min_pool_size": {{ digo_db_min_pool_size }},
    "initial_pool_size": {{ digo_db_initial_pool_size }},
    "max_idle_time": {{ digo_db_max_idle_time }},
    "changelog": "db_migrations/changelog.master.xml",
    "migrations_enabled": true,
    "driver_class": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
  },
  "documentRetention": {
    "enabled": {{ digo_file_retention_enabled | bool | lower }},
    "inactiveDocumentAge": "{{ digo_file_rentention_inactive_age }}",
    "completedDocumentAge": "{{ digo_file_rentention_completed_age }}"
  },
  "signingOrders": {
    "fileDirectory": "{{ digo_file_location_path }}",
    "documentLocationId": {{ digo_file_location_id }}
  },
  "jwt": {
    "privateKeyFile": "{{ digo_private_key_path }}",
    "publicCertFile": "{{ digo_certificate_path }}"
  },
  "signingService": {
    "url": "{{ digo_signing_service_url }}/authenticate/logout/?nextTarget={{ digo_signing_service_url }}/"
  },
  "fileService": {
    "url": "{{ digo_file_service_url }}",
    "username": "{{ digo_file_service_username }}",
    "password": "{{ digo_file_service_password }}"
  },
  "saml": {
    "postSsoUrl": "{{ idp_sso_url }}",
    "assertionConsumerServiceUrl": "{{ digo_service_url }}/auth/saml",
    "issuerId": "{{ digo_sp_id }}",
    "defaultLocale": "sv",
    "attributes": {
      "authority": "{{ digo_saml_authority }}",
      "source": "{{ digo_saml_source }}",
      "firstName": "{{ digo_saml_first_name }}",
      "lastName": "{{ digo_saml_last_name }}",
      "mail": "{{ digo_saml_mail }}"
    },
    "roles": {
      "solicitor": "{{ digo_saml_authority_solicitor }}",
      "signer": "*"
    },
    "trustedIssuers": [
      "{{ digo_saml_idp_id }}"
    ],
    "trustedCertificates": [
      "{{ digo_saml_trust_path }}"
    ],
    "skewTime": {{ digo_saml_skew_time }}
  },
  "smtp": {
    "host": "{{ digo_smtp_host }}",
    "port": "{{ digo_smtp_port }}",
    "trust": "{{ digo_smtp_trust }}",
    "username": "{{ digo_smtp_username }}",
    "password": "{{ digo_smtp_password}}",
    "fromAddress": "{{ digo_smtp_from }}",
    "enabled": "{{ digo_smtp_enabled | string | lower }}",
    "auth": {{ digo_smtp_auth_enabled | bool | lower }}
  },
  "externalUsers": {
    "useSsl": {{ digo_user_service_ssl | bool | lower }},
    "useSslClientCert": {{ digo_user_service_ssl_client | bool | lower }},
    "useSslTrustAll": {{ digo_user_service_ssl_trust_all | bool | lower }},
    "sslTrustFile": "{{ digo_ssl_trust_file }}",
    "sslKeyFile": "{{ digo_ssl_key_file }}",
    "sslKeyPassword": "{{ digo_user_service_ssl_key_pass }}",
    "citizensUrl": "{{ digo_citizens_query_url }}",
    "employeesUrl": "{{ digo_employees_query_url }}",
    "fobUrl": "{{ digo_fob_query_url }}",
    "eduUrl": "{{ digo_edu_query_url }}",
    "employeeAttributes": {
      "organization": "{{ digo_employee_organization }}",
      "userId": "{{ digo_employee_user_id }}",
      "mail": "{{ digo_employee_mail }}",
      "firstName": "{{ digo_employee_first_name }}",
      "lastName": "{{ digo_employee_last_name }}",
      "mobile": "{{ digo_employee_mobile }}",
      "department": "{{ digo_employee_department }}"
    },
    "citizenAttributes": {
      "info": "{{ digo_citizen_info }}",
      "mail": "{{ digo_citizen_mail }}",
      "mobile": "{{ digo_citizen_mobile }}",
      "firstName": "{{ digo_citizen_first_name }}",
      "lastName": "{{ digo_citizen_last_name }}"
    }
  },
  "forms": [
    {
      "id": "document_signing",
      "config": {
        "some": "property"
      }
    }
  ]
}