[
  {
    "id": "baaf7cf1-255b-44ac-96f0-7d14ab38a95f",
    "alias": "{{ sp_authenticator_alias }}",
    "name": "SAMLServiceProviderAuthN",
    "displayName": "External IdP",
    "configuration": {
      "targetIDP": "{{ idp_id }}",
      "sp": "{{ sp_id }}",
      "entityID": "{{ sp_id }}",
      "acsUrl": "{{ sp_acs_url }}",
      "pipeID": "{{ sp_acs_pipe_id }}",
      "successURL": "{{ sp_success_url }}"
    }
  }
]