[
  {
    "id": "{{ pas_sp_authenticator_id }}f",
    "alias": "{{ pas_sp_authenticator_alias }}",
    "name": "SAMLServiceProviderAuthN",
    "displayName": "External IdP",
    "configuration": {
      "targetIDP": "{{ pas_sp_idp_id }}",
      "sp": "{{ pas_sp_sp_id }}",
      "entityID": "{{ pas_sp_sp_id }}",
      "acsUrl": "{{ pas_sp_acs_url }}",
      "pipeID": "{{ pas_sp_acs_pipe_id }}",
      "successURL": "{{ pas_sp_success_url }}"
    }
  }
]