[
  {
    "name": "com.phenixidentity~phenix-saml",
    "enabled": "true",
    "id": "{{ pas_sp_saml_module_id }}",
    "config": {
      "http_configuration_ref": "{{ pas_sp_public_http }}"
    }
  }
]
