[
  {
    "name": "com.phenixidentity~phenix-saml",
    "enabled": "true",
    "id": "39872519-78db-4194-9164-f7eb4abc0bc6",
    "config": {
      "http_configuration_ref": "{{ pas_sp_public_http }}"
    }
  }
]
