[
  {
    "id": "bba08a8e-acad-4d73-8f61-d690c478a9bb",
    "content_type": "application/xml",
    "content_encoding": "base64",
    "content": "{{ lookup('file', pas_sp_sp_metadata) | b64encode }}"
  },
  {
    "id": "5994b9a2-289e-4627-9dde-bef577cde0c4",
    "content_type": "application/xml",
    "content_encoding": "base64",
    "content": "{{ lookup('file', pas_sp_idp_metadata) | b64encode }}"
  }
]