[Unit]
Description=DIGO
After=network.target

[Service]
Type=forking
WorkingDirectory={{ digo_home }}
Environment=DIGO_HOME={{ digo_home }}
Environment=JAVA_HOME={{ java_home }}
ExecStart={{ digo_home }}/start.sh
User={{ digo_service_user }}
Group={{ digo_service_group }}
UMask=0007
Restart={{ digo_service_restart }}
RestartSec={{ digo_service_restart_sec }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target